{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>ULTRA</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'main/images/crown.ico' %}"/>
		<link rel="stylesheet" type ="text/css" href="{% static 'main/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'main/fontawesome-free-5.0.12/web-fonts-with-css/css/fontawesome-all.css' %}">
		{% block head %}
		{% endblock %}
	</head>

	<body>
		<div id="navbar">
			<div id="logocontainer">
				<a href="/"><img id="logo" src="{% static 'main/images/reddoveULTRA.png' %}" alt="ULTRA Home"></a>
			</div>
			<div id="menu">
				<a href="/admin"><i class="fas fa-user-cog"></i>
					{% if user.is_authenticated %}
					{% firstof user.get_short_name user.get_username %}</a> <a href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Logout{% else %} Login{% endif %}</a> <a href="/basket"><i class="fas fa-shopping-cart"></i> {{ basketlength }}</a>
			</div>
		</div>

{% block content %}
{% endblock %}

		<div id="footer">
			<a href="/shipping">shipping</a> | <a href="/contact">contact</a> | <a href="https://facebook.com">facebook</a> | <a href="https://twitter.com">twitter</a>
		</div>
	</body>
</html>
