{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type ="text/css" href="{% static 'main/basket.css' %}">

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
{% endblock %}
{% block content %}
	<div id="basketcontent">
		{% if basketlength == 0 %}
			Your basket is empty!
		{% else %}
			{% for item in basket %}
			<div class="basketitem">
				<a href="/products/{{ item.0.pk }}"><img class="itemimage" src="{{ item.0.image.url }}"></a>
				<div class="itemdescription">
					<ul>
					<a href="/products/{{ item.0.pk }}">{{ item.0 }}</a>
					<li>{{ item.1 }}</li>
					<li>{{ item.2 }}</li>
					<li>£{{ item.0.price }}</li>
					</ul>
				</div>
				<div class="remove"><a href="/removefrombasket/{{ forloop.counter }}">Remove from basket <i class="fas fa-minus-square"></i></a></div>
			</div>
			{% endfor %}
		
		<div id="total">Total: {{ total }}</div>
		<br><br>

		<div id="paypal-button-container"></div>

		<script>
			paypal.Button.render({
	   
				env: 'sandbox', // sandbox | production
	   
				// PayPal Client IDs - replace with your own
				// Create a PayPal app: https://developer.paypal.com/developer/applications/create
				client: {
					sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
					// sandbox:    'AfF_OFT492ivKX7ztCDA_87su--AObFVcMRbgABjnbT02S5irfua4KDn1mQHfaX2Xe8Kf4auELyDzIgx',
					production: 'AWzSJIkF_NHb7EqoVEG3v8pDegQHEJJXcSfpxSMBqMNyM9U0vksuuJeEOG_9DEThOOttmgY6hty2rOU1'
				},
	   
				// Show the buyer a 'Pay Now' button in the checkout flow
				commit: true,
	   
				// payment() is called when the button is clicked
				payment: function(data, actions) {

				// Make a call to the REST api to create the payment
				return actions.payment.create({
					payment: {
					"transactions": [
						{
							"amount": {
								"total": "{{ total }}",
								"currency": "GBP",
								"details": {
									"subtotal": "{{ total }}",
									"tax": "0.00",
									"shipping": "0.00",
									"handling_fee": "0.00",
									"shipping_discount": "0.00",
									"insurance": "0.00"
								}
							},
							"item_list": {
								"items": [
									{% for item in basket %}
									{
										"name": "{{ item.0.name }} {{ item.0.typeId }}",
										"description": "{{ item.1 }} {{ item.2 }} {{ item.0.name }} {{ item.0.typeId }}; {{ item.0.description }}",
										"quantity": "1",
										"price": "{{ item.0.price }}",
										"tax": "0.00",
										"sku": "{{ item.0.pk }}",
										"currency": "GBP"
									}{% if basket|last != item %},{% endif %}
									{% endfor %}
								],
							}
						}
					],
					}
				});
				},
	   
	   
	   
				// onAuthorize() is called when the buyer approves the payment
				onAuthorize: function(data, actions) {
	   
					// Make a call to the REST api to execute the payment
					return actions.payment.execute().then(function() {
						window.location = "/paid";
					});
				},

				onCancel: function(data, actions) {
					return actions.payment.execute().then(function() {
						window.alert('Payment Cancelled!');
					});
     			 },

				onError: function(data, actions) {
					return actions.payment.execute().then(function() {
						window.alert('An Error Occurred!');
					});
     			 }
	   
			}, '#paypal-button-container');
	   
		</script>
		{% endif %}

	</div>
{% endblock %}

