{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type ="text/css" href="{% static 'main/generic.css' %}">
{% endblock %}
{% block content %}

	<div id="content">
		<h1>Contact</h1>
		<ul>
			<li>Tel: +44-7700-369447</li>
			<br>
			<li>Email: <a href="mailto:ultraclothingbusiness@gmail.com">ultraclothingbusiness@gmail.com</a></li>
			<br>
			<li>Address: 17 St Peter's Arsenal</li>
			<li>La Rue des Landes</li>
			<li>St Peter</li>
			<li>Jersey</li>
			<li>JE3 7BZ</li>
		</ul>
	</div>
{% endblock %}
