{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type ="text/css" href="{% static 'main/home.css' %}">
<script src="{% static 'main/jquery.min.js' %}"></script>
<script>
$(document).ready(function () {
    $(".allitemsbutton").click(function() {{% for type in typeList %}
	    $(".{{ type.name|lower }}").show();{% endfor %}
	});
    {% for type in typeList  %}
    $(".{{ type.name|lower }}button").click(function() {
        {% for type2 in typeList  %}
        $(".{{ type2.name|lower }}").{% if type == type2 %}show{% else %}hide{% endif %}();{% endfor %}
	});{% endfor %}
});
</script>
{% endblock %}
{% block content %}
<div id="nav2"><div class="allitemsbutton button">all items</div> {% for type in typeList %}| <div class="{{ type.name|lower }}button button">{{ type.name|lower }}s </div>{% endfor %}</div>
	<div id="storecontent">

        {% for product in product2List %}
		<a href="/products/{{ product.1.pk }}">
			<div class="item {{ product.0.name|lower }}">
				<img class="itemimage" src="{{ product.1.image.url }}">
				<div class="overlay">
					<div class="overlaytext">
						<b>"{{ product.1.name|upper }}" {{ product.0.name|upper }}<br>{{ product.1.colour|upper }}<br></b>&pound;{{ product.1.price }}
				</div>
				</div>
			</div>
		</a>
        {% endfor %}
	</div>
{% endblock %}
