{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>ULTRA</title>
		<link rel="shortcut icon" type="image/png" href="{% static 'main/images/crown.ico' %}"/>
		<link rel="stylesheet" type ="text/css" href="{% static 'main/style.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

	</head>

	<body>
		<div id="navbar">
			<a href="/"><img id="logo" src="{% static 'main/images/reddoveULTRA.png' %}"></a>
			<div id="menu">
				<a href="/login"><i class="fas fa-user"></i> Login</a>
				<a href="/cart"><i class="fas fa-shopping-cart"></i> 0</a>
			</div>
			<br>
			<br>
		</div>
		<div id="logincontent">
			<div id="loginleft">
				<span class="headspan">
					<h1 id="loginhead">Login</h1>
				</span>
				<form>
					<span class="loginstuff">email</span><br><input type="text"><br>
						<span class="loginstuff">password</span><br><input type="password"><br><br>
						</td><td><input class="submitbutton" type="submit" value="Submit"></td></tr>
				</form>
				<tr><a href="/passwordreset">forgot password?</a></tr>
				</table>
			</div>
			<div id="loginright">
				<span class="headspan">
					<h1 id="loginhead">Register</h1>
				</span>
				<form>
					<span class="loginstuff">email</span><br><input type="text"><br>
						<span class="loginstuff">password</span><br><input type="password"><br><br>
						</td><td><input class="submitbutton" type="submit" value="Submit"></td></tr>

				</form>

				</table>
			</div>
		</div>
		<div id="footer">
		<a href="#">shipping</a> | <a href="#">contact</a> | <a href="#">social</a>
		</div>
	</body>
</html>
