{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type ="text/css" href="{% static 'main/login.css' %}">
{% endblock %}
{% block content %}

		<div id="logincontent">
			<div id="loginleft">
				<table class="logintable logintableleft">
					<form action="/logmein" method="post">
						<tr><td></td><td><h1 id="loginhead">Login</h1></td></tr>
						<tr><td><span class="loginstuff">email</td><td></span><input type="email"></td></tr>
						<tr><td><span class="loginstuff">password</td><td></span><input type="password"></td></tr><br>
						<tr><td></td><td><input class="submitbutton" type="submit" value="Submit"></td></tr>
						<tr><td></td><td><a href="/passwordreset">forgot password?</a></td></tr>
					</form>
				</table>
			</div>
			<div id="loginright">
				<table class="logintable logintableright">
					<form action="/register" method="post">
						{% csrf_token %}
						<tr><td></td><td><h1 id="loginhead">Register</h1></td></tr>
						<tr><td><span class="loginstuff">email</td><td></span><input required name="email" type="email"></td></tr>
						<tr><td><span class="loginstuff">password</td><td></span><input required name="password" type="password"></td></tr><br>
						<tr><td><span class="loginstuff">password</td><td></span><input required name="password2" type="password"></td></tr><br>
						<tr><td><span class="loginstuff">Address Line 1</td><td></span><input required name="address1" type="text"></td></tr><br>
						<tr><td><span class="loginstuff">Address Line 2</td><td></span><input required name="address2" type="text"></td></tr><br>
						<tr><td><span class="loginstuff">Address Line 3</td><td></span><input required name="address3" type="text"></td></tr><br>
						<tr><td><span class="loginstuff">State/County</td><td></span required><input name="statecounty" type="text"></td></tr><br>
						<tr><td><span class="loginstuff">City</td><td></span><input required name="city" type="text"></td></tr><br>
						<tr><td><span class="loginstuff">Country</td><td></span><input required name="country" type="text"></td></tr><br>
						<tr><td><span class="loginstuff">Postcode</td><td></span><input required name="postcode" type="text"></td></tr><br>
						<tr><td></td><td><input class="submitbutton" type="submit" value="Submit"></td></tr>
					</form>
				</table>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
