{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type ="text/css" href="{% static 'main/product.css' %}">
<script>
$(document).ready(function () {
	{% for list in imageSet %}
		{% for image in list %}
			function changeImage{{ forloop.parentloop.counter }}{{ forloop.counter }}()
			{
				document.getElementById("previewImage{{ forloop.parentloop.counter }}{{ forloop.counter }}").src="{{ image.url }}"
			}
			{% endfor %}
		{% endfor %}
}
</script>
<style>
{% for list in imageSet %}
.prev{{ forloop.counter }}{
	{% if list != imageSet.0 %}display:none;{% endif %}
}
{% endfor %}
</style>
{% endblock %}
{% block content %}
	<div id="content">
		<div id="itemimg">
        	<img class="itemimage" src="{{ product.image.url }}">
					{% for list in imageSet %}
					<div id="previews" class="prev{{ forloop.counter }}">

						{% for image in list %}
						<div class="{% if image == list.0 %}{% if list != imageSet.0 %}first{% endif %}{% endif %}{% if image == list.3 %}last{% endif %} previewimage">
							<img style="height:100%; width:100%;" src="{{ image.url }}">
							{% if image == list.3 and imageSet|last != list %}
								<div style="background-image: url('{% static 'main/images/right.png' %}');" class="nextOverlay next{{ forloop.parentloop.counter }}"></div>
							{% elif image == list.0 and imageSet|first != list %}
								<div style="background-image: url('{% static 'main/images/left.png' %}');" class="prevOverlay prev{{ forloop.parentloop.counter }}"></div>
							{% endif %}
						</div>
						{% endfor %}

					</div>
					{% endfor %}
		</div>
		<div id="iteminfo">
			<h1>"{{ product.name }}"</h1>
			{{ product.description }}
		</div>
	</div>
{% endblock %}
