{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type ="text/css" href="{% static 'main/product.css' %}">
<script>

</script>
<style>
{% for list in imageSet %}
.prev{{ forloop.counter }}{
	{% if list != imageSet.0 %}display:none;{% endif %}
}
{% endfor %}
</style>
{% endblock %}
{% block content %}
	<div id="content">
		<div id="itemimg">
        	<img class="itemimage" src="{{ product.image.url }}">
					{% for list in imageSet %}
					<div id="previews" class="prev{{ forloop.counter }}">

						{% for image in list %}
						<div class="{% if image == list.0 %}{% if list != imageSet.0 %}first{% endif %}{% endif %}{% if image == list.3 %}last{% endif %} previewimage">
							<img style="height:100%; width:100%;" src="{{ image.url }}">
							{% if image == list.3 %}
							<div class="nextOverlay">

							</div>
							{% endif %}
						</div>
						{% endfor %}

					</div>
					{% endfor %}
		</div>
		<div id="iteminfo">
			<h1>"{{ product.name }}"</h1>
			{{ product.description }}
		</div>
	</div>
{% endblock %}
