{% extends 'main/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type ="text/css" href="{% static 'main/product.css' %}">
<script src="{% static 'main/jquery.min.js' %}"></script>
<script>
$(document).ready(function () {
	{% for list in imageSet %}
	$(".next{{ forloop.counter }}").click(function(){
		$(".preview{{ forloop.counter|add:"1" }}").show();
		$(".preview{{ forloop.counter }}").hide();
	});
	$(".prev{{ forloop.counter }}").click(function(){
		$(".preview{{ forloop.counter|add:"-1" }}").show();
		$(".preview{{ forloop.counter }}").hide();
	});
	{% endfor %}

	{% for list in imageSet %}
		{% for image in list %}
	$(".imagechangebutton{{ forloop.parentloop.counter }}{{ forloop.counter }}").click(function(){
		$(".itemimage").attr("src", "{{ image.url }}")

	});
		{% endfor %}
	{% endfor %}
});
</script>
<style>
{% for list in imageSet %}
.preview{{ forloop.counter }}{
	{% if list != imageSet.0 %}display:none;{% endif %}
}
{% endfor %}
</style>
{% endblock %}
{% block content %}
	<div id="content">
		<div id="itemimg">
        	<img class="itemimage" src="{{ product.image.url }}" alt="{{ product.name }} {{ product.typeId }}">
					{% for list in imageSet %}
					<div id="previews" class="preview{{ forloop.counter }}">

						{% for image in list %}
						<div class="{% if image == list.0 %}{% if list != imageSet.0 %}first{% endif %}{% endif %}{% if image == list.3 %}last{% endif %} previewimage previewImage{{ forloop.parentloop.counter }}{{ forloop.counter }}">
							<img style="height:100%; width:100%;" src="{{ image.url }}" alt="thumbnail {{ forloop.parentloop.counter }}, {{ forloop.counter }}">
							{% if image == list.3 and imageSet|last != list %}
								<div class="imagechangebutton imagechangebutton{{ forloop.parentloop.counter }}{{ forloop.counter }} changeleft"></div>
								<div style="background-image: url('{% static 'main/images/right.png' %}');" class="nextOverlay next{{ forloop.parentloop.counter }}"></div>
							{% elif image == list.0 and imageSet|first != list %}
								<div class="imagechangebutton imagechangebutton{{ forloop.parentloop.counter }}{{ forloop.counter }} changeright"></div>
								<div style="background-image: url('{% static 'main/images/left.png' %}');" class="prevOverlay prev{{ forloop.parentloop.counter }}"></div>
							{% else %}
								<div class="imagechangebutton imagechangebutton{{ forloop.parentloop.counter }}{{ forloop.counter }} changeboth"></div>
							{% endif %}
						</div>
						{% endfor %}

					</div>
					{% endfor %}
		</div>
		<div id="iteminfo">
			<h1>"{{ product.name }}"</h1>
			£{{ product.price }}<br><br><br>
			{{ product.description }}
			<br><br><br>
			<form method="POST" action = "/products/{{ product.pk }}/addtobasket">
				{% csrf_token %}
				<label>size:</label>
				<select name="size">
					<option value="small">Small</option>
					<option selected="selected" value="medium">Medium</option>
					<option value="large">large</option>
				</select>
				<label>colour:</label>
				<select name="colour">
					{% for colour in colours %}
					<option value="{{ colour.pk }}">{{ colour.name }}</option>
					{% endfor %}
				</select>
				<br><br>
				<input type="submit" value="Add to basket">
			</form>	

		</div>
	</div>
{% endblock %}
