body{
	margin:0;
	font-family: courier new;
}

#navbar{
	width:100%;
	background-color: #000;
	height:80px;
	display:block;
}

#logo{
	height:70px;
	padding:5px;
	display: inline;
}

#menu{
	color: #ff0000;
	float:right;
	display: block;
	padding-top:32px;
	padding-right:10px;
	font-size: 15px;
}
#menu a{
	transition: background-color .3s, border .3s, color .3s;
	color:#ff0000;
	border:1px solid #ff0000;
	padding:5px;
}

#menu a:hover{
	transition: background-color .3s, border .3s, color .3s;
	text-decoration: none;
	background-color: #ff0000;
	color:white;
	border:1px solid white;
}

#nav2{
	font-size: 17px;
	width:100%;
	height:20px;
	text-align: center;
	display: block;
}

#nav2 .button{
	transition: color .3s;
	color:#828282;
}

#nav2 .button:hover{
	transition: color .3s;
	color:#c9c9c9;
	text-decoration: none;
}

input{
	text-align: center;
}

#logincontent{
	/* text-align: center; */
	position: block;
	margin-left: calc(50% - 300px);
	width:600px;
	margin-top:60px;
	overflow: hidden;
	border:1px solid black;
	padding-top:50px;
	padding-bottom:50px;
	border-radius: 1000px;
	background-image: linear-gradient(left, #ff0000 50%, #fff 50%);
	background-image: -o-linear-gradient(left, #ff0000 50%, #fff 50%);
	background-image: -moz-linear-gradient(left, #ff0000 50%, #fff 50%);
	background-image: -webkit-linear-gradient(left, #ff0000 50%, #fff 50%);
	background-image: -ms-linear-gradient(left, #ff0000 50%, #fff 50%);
}

#loginleft{
	color:#fff;
	text-align: center;
	float:left;
	display: inline-block;
	width: 50%;
}

#loginleft a{
	color:white;
}

#loginright{
	color:#ff0000;
	text-align: center;
	float:left;
	display: inline-block;
	width: 50%;
}

.headspan{
	text-align:center;
}

#loginhead{
	margin-top:-30px;;
	padding:0;
}

.loginstuff{
	font-size: 20px;
}

.spacerow{
	padding-top:50px;
}

.submitbutton{
	width:173px;
}

#storecontent{
	position: block;
	margin-left: calc(50% - 600px);
	width:1200px;
	margin-top:60px;
	overflow: hidden;
}

.item {
  position: relative;
  width: 290px;
  float:left;
  padding:5px;
}

.itemimage {
  display: block;
  width: 290px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s;
  background-color: #fff;
}

.button{
	display:inline;
}

.button:hover{
	cursor: pointer;
}

.item:hover .overlay {
  opacity: 1;
}

.overlaytext {
  color: red;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

#footer{
	color:black;
	text-align: center;
	display:block;
	bottom:0;
	width: 100%;
	margin-top:300px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer a{
	color:#828282;
	transition: color .3s;
}

#footer a:hover{
	transition: color .3s;
	color:#c9c9c9;
	text-decoration: none;
}
