/*
for the other images:
4px under main image;
72px x 72px;
4px in between each image;
on click replace with main image;
main image is the first other image;
if there is more than 4:
2d array with 4 images in each row;
button on the right half of last image(?) or maybe elsewhere, not decided yet;
button goes to the next row, if there is no next row, there is no button;
another button on the left to go back to prev row;
if at beggining of the list, you can't go back, and if at the end you can't go forwards.
*/

.itemimage{
	height:300px;
	width:300px;
}

#content{
	text-align: left;
	position: block;
	margin-left: calc( 50% - 600px );
	width:1200px;
	margin-top:60px;
	overflow: hidden;
	padding-left:50px;
}

@media (max-width:1200px) {
	#content{
		width:100%;
		margin-left: 0;
	}

}

#itemimg{
	display:inline;
	width:300px;
	float:left;
}

#iteminfo{
	width:300px;
	float:left;
	padding-left: 50px;
}

#previews{
	height:72px;
	width:304px;
	/* background-color: blue; */
}

.previewimage{
	width:72px;
	height:72px;
	/* background-color: red; */
	margin-right:4px;
	float:left;
	display: block;
	position: relative;
	pointer-events: auto;
}

.nextOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 50%;
	opacity: 1;
	transition: .3s;
	background-color: rgba(255,255,255,0);
	margin-left:36px;
}

.nextOverlay:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,1);
}

.prevOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 50%;
	opacity: 1;
	transition: .3s;
	background-color: rgba(255,255,255,0);
}

.prevOverlay:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,1);
}

.imagechangebutton{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	background-color: rgba(0,0,0,0);
	height:72px;
}

.changeright{
	width: 50%;
	margin-left:36px;
}

.changeleft{
	width: 50%;
}

.changeboth{
	width:100px;
}
